<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:
* To learn about ds tools
* To learn needed libraries for datasciense   
* To learn about jupyternotebook and github

Some of the popular languages that Data Scientists use are:
1. python
2. java
3. SQL
4. R
5. Javascript
6. SQLlite

Some of the commonly used libraries used by Data Scientists include:
1. tensorflow
2. NumPy
3. Matplotlib
4. keras
5. Pandas
6. Scikit learn
7. PyTorch

Data science tools:
|Data Science|
|----|
|Apache Spark|
|Apache Hadoop|
|TesnorFlow|
|Big ML|

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers.
b=(3*4)+5
print(b)

# Result: 17

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

<h2>Author</h2>
Nigin